.userInfoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 4px;

  // background-color: rgba(254, 254, 254, 0.05);

  border-bottom: 1px solid var(--tr-brdr-clr__primary);
}
.item {
  display: flex;
  align-items: center;
  gap: 16px;
  // color: #fff;
  padding: 4px;
}
.admin {
  color: var(--brand_clr__1);
}
