.ChekBoxHead {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 100%;

  &:focus {
    outline: 3px solid var(--darkOrange);
  }
}
.checked {
  fill: var(--darkOrange);
}
