.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: fit-content;
  height: 28px;
  min-width: max-content;

  padding: 0 8px;
}
.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
