.DesktopFooter {
  // display: grid;
  // grid-template-columns: 30px repeat(9, 1fr) 30px 30px;
  // grid-template-rows: 30px;
  // align-items: center;
  // justify-content: center;
  // gap: 8px;

  z-index: 1000;

  color: #fff;

  width: 100%;

  background-color: var(--brand_clr__2);
  @media screen and (min-height: 160px) {
    position: sticky;
    bottom: -1px;
    left: 0;
  }
}
.gridMenu {
  grid-column: 12/13;
}
.wrapper {
  // grid-column: 11/12;

  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;

  padding: 8px;
}
