.SideBar {
  grid-column: 1/2;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: min-content 1fr;

  width: fit-content;
  max-width: 40px;
  height: 100%;

  position: static;
  z-index: 100;

  background-color: var(--bckgrndDarkClr_secondary);

  border-right: 1px solid var(--borderClr_light);
  &.isOpen {
    & .content {
      max-width: 100%;
      // border-right: 1px solid var(--borderClr_light);
    }
  }
}
.toggler {
  width: 4px;
  height: 100%;
  padding: 0;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  border-style: none;

  background-color: var(--bckgrndDarkClr_secondary);
  // box-shadow: var(--header-shadow);
}
.container {
  display: grid;
  grid-template-columns: min-content min-content;

  height: 100%;
  width: 100%;

  // box-shadow: var(--header-shadow);
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 1fr min-content;
  max-width: 0;

  width: 36px;

  height: 100%;
  overflow: hidden;

  background-color: var(--bckgrndDarkClr_secondary);
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 26px;
  width: 100%;
}
.menu {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  max-height: 100%;
  overflow: hidden;

  border-top: 1px solid var(--borderClr_light);
  border-bottom: 1px solid var(--borderClr_light);
}
.bottom {
  display: flex;
  flex-direction: column;

  padding-bottom: 12px;
}
.option {
  width: 100%;
  height: 26px;
}
.isActive {
  background-color: rgba(254, 254, 254, 0.05);
  color: var(--darkOrange);
  &::before {
    height: 100%;
    background-color: var(--darkOrange);
  }
}
