.sideBar {
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  width: 100%;
  height: 100%;
  background-color: var(--bckgrndDarkClr_secondary);
  &.isOpen {
    & .content {
      max-width: 50px;
      border-right: 1px solid var(--brdrClr_primary);
    }
  }
}
.toggler {
  width: 4px;
  height: 100%;
  padding: 0;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  border-style: none;

  background-color: var(--bckgrndDarkClr_secondary);
  box-shadow: var(--header-shadow);
}
.container {
  display: grid;
  grid-template-columns: min-content min-content;

  height: 100%;
  width: 100%;

  box-shadow: var(--header-shadow);
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  max-width: 0;
  overflow: hidden;
  height: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid var(--brdrClr_primary);
  border-bottom: 1px solid var(--brdrClr_primary);
}
.bottom {
  display: flex;
  flex-direction: column;
}

.option {
  justify-content: flex-start;

  position: relative;

  fill: #fff;
  font-size: 12px;
  padding: 8px;

  width: 100%;

  border-radius: 0;
  border-style: none;

  transition: none;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 100%;

    background-color: transparent;
  }
  &:hover {
    background-color: rgba(254, 254, 254, 0.05);
    color: var(--darkOrange);
    &::before {
      background-color: var(--darkOrange);
    }
  }
  &:focus,
  &:active {
    background-color: rgba(254, 254, 254, 0.05);
    color: var(--darkOrange);
    &::before {
      background-color: var(--darkOrange);
    }
  }
}
.isActive {
  background-color: rgba(254, 254, 254, 0.05);
  color: var(--darkOrange);
  &::before {
    background-color: var(--darkOrange);
  }
}
