.rowContainer {
  display: grid;
  grid-template-columns: 0px max-content;

  position: relative;

  width: fit-content;
  height: 100%;

  background-color: #1c1c1e;

  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--tr-brdr-clr__primary);

  &:hover {
    border-color: var(--darkOrange);
  }
}
.rowContainer,
.thRow {
  display: flex;
  align-items: center;

  min-width: 100%;
}
.thRow,
.row {
  display: grid;
  grid-template-columns: 40px max-content;

  position: relative;

  width: fit-content;
  height: 100%;

  cursor: default;

  background-color: inherit;
}
.thRow {
  font-size: 12px;

  height: 100%;
}
.row {
  position: relative;

  width: fit-content;
  height: 100%;

  font-size: 12px;
  font-weight: 400;
  min-height: 28px;

  background-color: #1c1c1e;

  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--tr-brdr-clr__primary);

  &:hover {
    border-color: var(--darkOrange);
  }
}
.rowStickyEl {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  left: 0;

  height: 100%;

  background-color: inherit;
  // background-color: #1c1c1e;

  @media print {
    width: 0;
    overflow: hidden;
  }
}
